meta charset="utf-8"

body {
  margin: 0;
  padding: 0;
  background: #ccc;
  font-size: medium;
  font-family: courier;
  background-color: #444;
}

h2{
  text-align: center;
}
.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 14px 16px;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: incline;
  transition: .3s background-color;
  padding: 14px 16px;
}

.nav a:hover {
  background-color: #005f5f;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

#footer{
   text-align: center;
   background-color: #444;
   position: fixed;
   right: 0;
   bottom: 0;
   left: 0;
   padding: 1rem;
}

#videos{
  webkit-column-count: 3;
  moz-column-count: 3;
  column-count: 3;
  webkit-column-gap: 40px;
  moz-column-gap: 40px;
  column-gap: 40px;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
}
.column2 {
    float: right;
    width: 50%;
    padding: 10px;
    height: 300px;
}

#content{
   background: liner-gradient(-90deg, black, gray);
}
